// Here you can add other styles
 .c-sidebar .c-sidebar-brand {
    background-color: #ffffffe6 !important;
}
.c-sidebar {
    background-color: #2e8ca5 !important;
}
.custom-tabs  {
    background-color: white !important;
}